html, body {
    height: 100%;
    width: 100%;
    /* max-width: 360px;
    max-height: 780px; */
    margin: 0;
    background-color: aquamarine;
    overflow: hidden;
}

.topContainer {
    height: 75%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.botContainer {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#installBtn {
    display: none;
}

#startSesh{
    height: 5rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: orange;
    border: 1px solid gray;
    border-radius: 5px;
}

#endSesh {
    display: none;
    height: 5rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: orange;
    border: 1px solid gray;
    border-radius: 5px;
}